.flatmate-detail-container{
   height: 800px;
 
    margin: 0 50px;
    
    .flatmate-intro{
        display: flex;
        height: 300px;     
        .contain-left
        {
            width: 30%;
        
            margin-right: 25px;
            background: no-repeat;
            background-position:center ;
            background-size: cover;
           
        }
      
        .contain-right{
            width: 70%;
            
            background-repeat:no-repeat ;
            justify-content: center;
            .name-flatmate{
                font-size: 30px;
                color: purple;
                padding: 10px;
            }
            .title-info{
                font-size: 40px;
                font-weight: 400;
                color: blue;
            }
        }
    }

    .detail-flatmate-info{
        width:70%;
       
        height: auto;
        .address-flatmate-infor {
            font-size: 18px;
            font-weight: 400;
            color: blue;
        }
        .name-flatmate-infor {
            font-size: 20px;
            font-weight: 600;
            color: red;
        }
        .price-flatmate-infor{
            font-size: 20px;
            font-weight: 600;
            color: orange;

        }
        .price-flatmate-area{
            font-size: 20px;
            font-weight: 600;
            color: rgb(22, 11, 177);

        }
        .city-infor{
          font-weight: 600px;
          font-size: 20px;
          color: blue;
        }
        .desc-flatmate{
            font-size: 15px;
            color: blue;
        }
    }
    .schedule-owner{
        width: 30%;
        height: 300px;
        h3{
            color: red;
            
            width: auto;
        }
        p{
            color: blue;
            font-size: 15px;
        }
      
    }
    .map-detail-flatmate{
      width: 100%;height: 500px;
    }
}