@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: #4b38f8;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .btn-logout {
        color: whitesmoke;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
            color: white;
            size: 20;
        }
    }

    .language {
        .language-vi {
            margin-left: 10px;
            margin-right: 10px;
            opacity: 0.8;
            color: yellow;
            cursor: pointer;

            &.active {
                color: red;
                opacity: 1;
            }
        }

        .language-en {
            margin-left: 10px;
            margin-right: 10px;
            opacity: 0.8;
            color: yellow;
            cursor: pointer;

            &.active {
                color: red;
                opacity: 1;

            }
        }
    }

}

.btn-ok {
    height: 20px;
    width: 50px;
    background-color: #0071ba;
}